
body{
  width: 800px;
  margin: 20px auto;
}
.container{
  padding: 20px;
}

.overlay{
  position: absolute;
  width: 800px;
  height: 1000px;
  background-color: rgba(50, 50, 50, 0.7);
}

.lds-dual-ring {
  display: inline-block;
  margin: 350px;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 128px;
  height: 128px;
  margin: 8px;
  border-radius: 50%;
  border: 12px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
